
<%
#
# Partial with three locals:
#
# demand          : deman object
# info            : info object returned by successfull after_approval()
# exception_trace : stack trace of failed after_approval()
#
%>

<h3>Result for <%= crop_text(demand.full_name) %>, <%= crop_text(demand.institution) %></h3>

<% if exception_trace.present? %>

  <div class="flash_error"><pre><%= exception_trace %></pre></div>

<% elsif info.present? %>

  <pre class="comment"><%= info.to_s %></pre>

<% elsif demand.respond_to?(:after_approval) %>

   Approved and account created.

<% else %>

  <span style="color: orange">The request was marked only as 'approved'.</span>

<% end %>

