
<h1>Confirmed!</h1>

Thank you. You've confirmed your email address with <%= the_organization %>.
<p>
Now it's up to the administrators to review your request
and you'll be notified if and when they approve it.
<p>

<h3 style="color: red">Important note! (June 20th, 2013)</h3>

Because of the high number of requests for accounts,<br>
it is possible that it may take <strong>several days</strong> before<br>
your own account is created. Don't despair and be<br>
patient, we approve almost all requests, eventually.<br>
And thank you for your interest!<br>

<!--(There is nothing else to do here, you might as well have a coffee and read the news)-->

