
<h1>Batch approval summary results</h1>

<%
   @results.each do |triplet|
   demand    = triplet[0]
   info      = triplet[1]
   backtrace = triplet[2]
%>
   <%= render :partial => 'result_approve_one', :locals => { :demand => demand, :info => info, :exception_trace => backtrace } %>
<% end %>

<p>

You can go <%= link_to "back to the index", :action => :index %> too.

